*, *:after, *:before {
  box-sizing: border-box;
}

body {
  background: #f0f0f0;
}

.grid {
  position: relative;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}


@media screen and (min-width: 600px) {
  .grid__item {
    width: 50%;
    padding: 45px 45px 30px;
  }
}

@media screen and (min-width: 900px) {
  .grid__item {
    width: 33.333%;
  }
}


.title--full {
  font-size: 2em;
  font-weight: 100;
  opacity: 1;
  transform: translate3d(0, 0, 0);
  transition: transform 0.3s, opacity 0.3s;
  transition-timing-function: ease-out;
  transition-delay: 0.05s;
}



